<ion-view view-title="Articles">
  <ion-content id="articles-container">
  	<div class="article list card" ng-repeat="article in articles">
	  <div class="item">
	  	<a class="article-title-container" href="#/app/article/{{article.id}}">
	  		<h1 class="article-title">{{ article.title }}</h1>
	  		<i class="icon ion-chevron-right"></i>
	  	</a>
	  	
  	 	<h3 class="article-author" ng-if="article.authors[0] && article.authors[0].name"> by {{ article.authors[0].name }}</h3>
	  </div>

	  <div class="article-description item item-body">
	  	{{ article.description }}...
	  </div>

	  <!-- 
	  <div class="item item-body">
	    <img ng-if="internetConnectionService.isConnected()" class="full-image" ng-src="{{article.images[0].url}}">
	    <p ng-bind-html="article.content"></p>
	  </div>
	  -->

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      More like this
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsdown"></i>
	      Less like this
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-android-share-alt"></i>
	      Share
	    </a>
	  </div>

	</div>
  </ion-content>
</ion-view>
