<ion-view view-title="{{article.title}}" ng-controller="ArticleController">
  <ion-content id="articles-container">
	  <div class="item item-body article">
	    <img class="full-image article-image" ng-src="{{article.images[0].url}}">
	    <div class="article-content" ng-bind-html="article.content"></div>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      More like this
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsdown"></i>
	      Less like this
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-android-share-alt"></i>
	      Share
	    </a>
	  </div>
  </ion-content>
</ion-view>
